*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: DroidSans;
    src: url('/symposium-presentation/resources/fonts/DroidSans.ttf');
}

@font-face{
    font-family: ExpletusSans;
    src: url('/symposium-presentation/resources/fonts/ExpletusSans-Regular.ttf');
}

body{        
    font-family: DroidSans;    
    min-height: 740px;   
    color: #EEE;
    
    background: #333333;
    background: -webkit-radial-gradient(center bottom, circle farthest-corner, #666666, #333333, black);
    background: -moz-radial-gradient(center bottom, circle farthest-corner, #666666, #333333, black);
    background: -o-radial-gradient(center bottom, circle farthest-corner, #666666, #333333, black);
    background: -ms-radial-gradient(center bottom, circle farthest-corner, #666666, #333333, black);
    background: radial-gradient(center bottom, circle farthest-corner, #666666, #333333, black);
    
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Defaults */

.step{
    width: 900px;

    font-family: DroidSans;
    font-size: 48px;
    line-height: 1.5;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;    
    
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.step:not(.active){
    opacity: 0;
}

.slide{
    display: block;    
    width: 900px;
    height: 700px;
    font-family: DroidSans;
    color: #EEE;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .9);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    position: relative;  
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#os_logo{
    bottom: 10px;
    left: 10px;
    height: 100px;
    width: 100px;
    background:  url('/symposium-presentation/resources/img/open-source-logo.png');
}

#badge{
    bottom: 10px;
    right: -10px;
    height: 64px;
    width: 197px;
    background:  url('/symposium-presentation/resources/img/html5-badge-h-css3-graphics-semantics.png');
}

#badge, #os_logo{
    opacity: 0.3;
    position: fixed;
    
    
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#badge:hover, #os_logo:hover{
    opacity: 1;
}

.title{
    color: #EEE;
    font-family: ExpletusSans;
    font-size: 60pt;
    padding: 20px;
    line-height: 65pt;
    text-align: center;
    position: absolute;
    letter-spacing: normal;
    top: 25%
}

.section-title{
    font-family: ExpletusSans;
    position: absolute;
    top: 30%;
    text-align: center;
    vertical-align: middle;
    font-size: 50pt;
    line-height: 110px;
    width: inherit;
}

.section-title{
    font-size: 50pt;
}

.with_logo{
    top: 10%;
}

.lower{
    top: 40%;
}

#ty{
    margin-top: 10px;
    font-family: ExpletusSans;
    text-align: center;
    font-size: 50pt;
}

.slide-title{
    color: #FFF;
    height: 120px;
    font-size: 36pt;
    line-height: 120px;
}

.slide-title-small{
    font-size: 36pt;
    line-height: 60px;
}

.no-title{
    margin-top: 120px;
}

.slide-content{
    /*height: 473px;*/    
    font-size: 30pt;
    line-height: 40pt;
    padding: 15px 40px;
    text-align: justify;
}

em{
    color: #ff7700;
}

.lv0_indent{
    margin-left: 30px;
}

.lv1_indent{
    margin-left: 60px;
}

.lv2_indent{
    margin-left: 120px;
}

/* EOF Defaults */

/* Content */

#impress.step-overview .step {
  opacity: 1;
  cursor: pointer;
}

#slide_details{
    font-size: 25px;
    position: absolute;
    bottom: 40px;
    right: 5px;
}

#slide_details p{
    text-align: right;
}

figure#foss_question_logo{
    width: 300px;
    margin: 0 auto;
}

#thank-you p{
    margin-bottom: 10px;
}

#thank-you p img{
    vertical-align: middle;
    opacity: 0.9;
}

#name{
    font-size: 40pt;
}

#email{
    margin-bottom: 20px !important;
    margin-left: -0.3em;
}

a{
    color: #EEE;
    padding: 0.2em 0.3em 0.4em 0.3em;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

a:link{
    -webkit-transition: 0.3s;
    -moz-transition:    0.3s;
    -ms-transition:     0.3s;
    -o-transition:      0.3s;
    transition:         0.3s;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

a:link:hover {
    background: rgba(255,255,255, 0.2);
}

.img_tb{
    width: 824px;
    margin: 0 auto;
}

.img_tb td{
    text-align: center;
    padding: 3px;
}

/* EOF Content */

/* Fallback */

.fallback-message {
    font-family: DroidSans;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .slide{
    background: #333;
    border: #666 1px solid;
    
    -webkit-box-shadow: 0 4px 16px rgba(255,255,255,0.5);
    -moz-box-shadow: 0 4px 16px rgba(255,255,255,0.5);
    box-shadow: 0 4px 16px rgba(255,255,255,0.5);
}

.impress-not-supported .slide .slide-title{
    padding: 10px 15px 0 15px;
}

.impress-not-supported .slide .slide-content{
    padding: 15px 40px;
}

.impress-not-supported .fallback-message {
    display: block;
}

/* EOF Fallback */