*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'PT Sans', sans-serif;    
    min-height: 740px;
    -webkit-font-smoothing: antialiased;
}

/* Fallback */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}

/* EOF Fallback */